/* * {
    background-color: black;
} */
body {
    background-color: black;
}

#header {
    color: white;
    /* font-family:"Space Mono"; */
    font-size:medium;
    font-weight: 100;
    transform: scale(1, 1.05);

    /* position text in the middle of the website */
    position: absolute;
    top: 38%;
    left: 50%;
    transition: left 1s ease-out 100ms;
    z-index: 2;
}

#header:hover {
    cursor: pointer;
}

/* ABOUT & WORK SECTION  */

.about, .work{
    color: white;
    /* font-family:"Space Mono"; */
    font-size: medium;
    font-weight: 100;
    transform: scale(1, 1.05);
    height: 180px;
    z-index: 1;
}

.aHead {
    position: fixed;
    top: 15%;
    left: 35%;
    opacity: 0;
    visibility: hidden;
}

.aBody {
    position: fixed;
    top: 35%;
    left: 35%;
    opacity: 0;
    visibility: hidden;
}

.aName {
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
}

.wHead {
    position: fixed;
    top: -10%;
    left: 35%;
    opacity: 0;
    visibility: hidden;
}

.wBody {
    position: fixed;
    top: 10%;
    left: 35%;
    opacity: 0;
    visibility: hidden;
}

.text--show {
    visibility: visible;
    opacity: 100%;
}

/* CONTACT SECTION */

.contact-container {
    display: flex;
    justify-content: center;
    align-content: center;
    position: static;
    /* top: 55%; */
    z-index: 0;
}

.contact-img {
    max-width: 50px;
    max-height: 50px;
}

.contact {
    margin-left: 10px;
}

.github {
    position: relative;
    /* left: -20.5%; */
    left: -5%;
    visibility: hidden;
    opacity: 0;
}

.linkedin {
    position: relative;
    /* left: -20.5%; */
    left: -5%;
    visibility: hidden;
    opacity: 0;
}

.email {
    position: relative;
    /* left: -20.5%; */
    left: -5%;
    visibility: hidden;
    opacity: 0;
}

.img--show {
    visibility: visible;
    opacity: 100%;
}

/* BUTTON  */

/* ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
  }
.ripple:hover {
    background: gray radial-gradient(circle, transparent 1%, gray 1%) center/15000%;
}
.ripple:active {
    background-size: 100%;
    transition: background 0s;
}

/* button style */
.btn {
    position: absolute;
    /* top: 52%;
    left: 29.84%; */
    top: 2%;
    left: 1%;
    border: none;
    border-radius: 50%;
    padding: 10px 10px;
    font-size: 3px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    background-color: white;
    box-shadow: 0 0 4px #999;
    outline: none;
    visibility: hidden;
    opacity: 0%;
    /* transition: opacity 1s, background 0.8s; */
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out, background 0.8s;
}

.btn--show {
    visibility: visible;
    opacity: 100%;
}

/* MORE ABOUT ME SECTION */

.more-about-me-container{
    display: none;
    justify-content: center;
    grid-template-columns: repeat(3, 230px);
    grid-gap: 20px;
    /* background-color: green; */
    margin-top: 18%;
    text-align: center;
    /* top: 10px; */
}

.photo {
    position: relative;
    width: 100%;
}

.more-about-me {
    grid-column-start: 1;
    grid-column-end: -1;
}

.text {
    color: white;
}

/* where am i from */

.locations-bnw {
    transition: opacity 1s;
}

.locations-bnw:hover {
    opacity: 0;
    cursor: pointer;
    transition: opacity 1s;
}

.from {
    position: relative;
}

.locations {
    position: absolute;
    width: inherit;
    display: block;
}

/* hobbies  */

.hobbies-bnw {
    transition: opacity 1s;
}

.hobbies-bnw:hover {
    opacity: 0;
    cursor: pointer;
    transition: opacity 1s;
}

.hobby {
    position: relative;
}

.hobbies {
    position: absolute;
    width: inherit;
    display: block;
}

/* music  */

.artist-bnw {
    transition: opacity 1s;
}

.artist-bnw:hover {
    opacity: 0;
    cursor: pointer;
    transition: opacity 1s;
}

.music {
    position: relative;
}

.artist {
    position: absolute;
    width: inherit;
    display: block;
}

#spacer {
    height: 330px;
}